body{
  background-image: url("../../../assets/img/5542825.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding: 0 0 5px;
  }
  .background {
    max-width: 1000px;
    height: 400px;
    background: white;
    margin: 0 auto;
    opacity: 0.9;
    border-radius: 200px;
  }
  .le_torte{
      padding: 5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -450px;
      left: 0;
  }
  
  .img_le_torte{
      width: 250px;
      height: 250px;
      border-radius: 50%;
  }
  
  .descrizione_le_torte > h2 {
    color: brown;
    font-size: 30px;
    font-weight: 600;
  }
  .descrizione_le_torte > h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
  .descrizione_le_torte > p {
    color: rgb(68, 68, 68);
  }
  .descrizione_le_torte{
    max-width: 600px;
    padding: 0 2rem;;
  }
  