<body>

    <div class="le_torte">
        <img class="img_le_torte" src="../../../assets/img/le-torte-gelato.jpg" alt="">
        <div class="descrizione_le_torte">
            <h2>PRODUZIONE TORTE</h2>
            <h3>Realizzazione torte su richiesta e su ordinazione</h3>
            <p>Produzione torte
                Candy Cream Gelaterie a Roma (Rm) produce prodotti dolciari e pasticceria fresca ogni giorno: grazie alla
                professionalità dei suoi maestri pasticceri, la gelateria può realizzare ogni tipologia di torta da forno e torta
                fresca, nonché ampie possibilità di torte personalizzate e torte nuziali in base alle esigenze ed i gusti del cliente.
                
                Per soddisfare i palati golosi di tutti i giorni, Candy Cream Gelaterie offre molte varietà di dolci da forno e dolci
                freschi, tra cui: paste fresche (grandi e mignon),biscotteria assortita, cornetti (semplici, farciti, ciambelle),
                ciambelloni ed un'ampia offerta di prodotti da forno gastronomici e prodotti di piccola pasticceria (pasticceria
                modenese e pasticceria bolognese) per stupire ospiti, amici ed invitati.
            </p>
        </div>
    </div>
   
</body>