.page_main{
    height: 100%;
    display: flex;
  }
  .sidebar{
    width: 20%;
    text-align: center;
  }
  .sidebar p {
    margin: -0.2rem 0;
  }
  .page_content{
    width: 80%;
    overflow-y: auto;
  }
  .sidebar, .page_content{
    padding: 1rem;
  }
  