<div class="page_main">
    <div class="sidebar debug_r">

        <h2>Dashboard</h2>

        <a routerLink="view">
            <p>view</p>
        </a>
        <br>
        <a routerLink="my_projects">
            <p>My Projects</p>
        </a>
        <br>
        <a routerLink="contatti">
            <p>Contatti</p>
        </a>
        <br>
        <app-button-dashboard></app-button-dashboard>
        <a routerLink="/">
            <p>home</p>
        </a>

    </div>
    <div class="debug_b page_content">

        <router-outlet></router-outlet>
    </div>

</div>