<body>

    <div class="pasticceria_artigianale">
        <img class="img_pasticceria_artigianale" src="../../../assets/img/i-nostri-gelati-2576622_1920.jpg" alt="">
        <div class="descrizione_pasticceria_artigianale">
            <h2>PASTICCERIA ARTIGIANALE</h2>
            <h3>Pasticceria mignon e caffetteria</h3>
            <p>Prodotti di pasticceria
                Candy Cream Gelaterie a Roma (Rm) è anche una pasticceria artigianale che realizza dolci e torte per ogni occasione.
                Presso Candy Cream Gelaterie potrete trovare prodotti dolciari arricchiti da meravigliose decorazioni eseguite da
                maestri pasticceri professionisti. Candy Cream, inoltre, caratterizza sempre le feste importanti con i dolci tipici
                preparati in modo artigianale: panettoni a natale, le colombe a pasqua e tanti dolci in ogni occasione di meeting e
                congressi. Senza dimenticare i cesti natalizi, curati in ogni dettaglio.
                
                Da Candy Cream potrete trovare cornetti, brioches e paste da caffetteria sempre freschi e, inoltre, pasticceria mignon
                di tutti i gusti: crema pasticcera, mignon alla ricotta, mignon alla frutta e molto altro. La pasticceria Candy Cream
                produce torte classiche dal gusto intramontabile, torte lavorate con forme e gusti particolari su richiesta, nonchè
                torte personalizzate con speciali decorazioni golose per celebrare i vostri momenti indimenticabili (torte nuziali,
                torte per comunioni, torte per cresime, torte per compleanni, torte per lauree, torte per anniversari).
            </p>
        </div>
    </div>
   
</body>