body{
    background-image: url('../../../assets/img/sfondo_home.jpg');
    background-size: cover;
  }
  .pasticceria_artigianale{
      padding: 5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .img_pasticceria_artigianale{
      width: 250px;
      height: 250px;
      border-radius: 50%;
  }
  .descrizione_pasticceria_artigianale > h2{
    color: pink;
    font-size: 30px;
    font-weight: 600;
}
.descrizione_pasticceria_artigianale > h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.descrizione_pasticceria_artigianale > p{
    color: grey;
}
  .descrizione_pasticceria_artigianale{
      max-width: 400px;
      padding: 0 2rem;;
  }
  