<body>
    <div class="background"></div>
    <div class="pasticceria_artigianale">
        <img class="img_pasticceria_artigianale" src="../../../assets/img/i-nostri-gelati-2576622_1920.jpg" alt="">
        <div class="descrizione_pasticceria_artigianale">
            <h2>PASTICCERIA ARTIGIANALE</h2>
            <h3>Pasticceria mignon e caffetteria</h3>
            <p>Prodotti di pasticceria
                Mont Cakes a Roma è anche una pasticceria artigianale che realizza dolci e torte per
                ogni occasione dove potete trovare prodotti arricchiti da meravigliose decorazioni
                eseguite da maestri pasticceri professionisti; inoltre, caratterizza sempre le feste importanti con i
                dolci tipici artigianali: panettoni a natale, le colombe a pasqua e tanti altri dolci per tutte le
                occasioni.
                Celebrate con noi i vostri momenti indimenticabili con:
            </p>
            <ul class="elenco_torte">
                <div>
                    <li>Torte nuziali</li>
                    <li>Torte per comunioni</li>
                    <li>Torte per cresime</li>
                </div>
                <div>
                    <li>Torte per compleanni</li>
                    <li>Torte per lauree</li>
                    <li>Torte per anniversari</li>
                </div>
            </ul>
        </div>
    </div>

</body>