.example-button-row button,
.example-button-row a {
  margin: 1rem 0;
}
.example-button-row a:hover{
  color: white; background: rgba(161, 67, 228, 0.837);
  box-shadow: var(--mdc-protected-button-container-elevation-shadow);
}

.example-disabled {
  display: inline-block;
}