/* #region footer */

footer {
  background: #272437;
  color: white;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
}

.container_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h3,
  p {
    margin: 5px 0 0;
  }
}

/* #endregion footer */