<body>

    <div class="link_prodotti">

        <a href="i_nostri_gelati/lattosio" class="lattosio">
            <img class="img_gusti" src="../../../../assets/img/card-logo/logo-latte.jpg" alt="">
            <br>
            <a href="i_nostri_gelati/lattosio">LATTOSIO</a>
        </a>

        <a href="i_nostri_gelati/senza_lattosio" class="senza_lattosio">
            <img class="img_gusti" src="../../../../assets/img/card-logo/logo-soia.jpg" alt="">
            <br>
            <a href="i_nostri_gelati/senza_lattosio">SENZA LATTOSIO</a>
        </a>
    </div>

    <h2 class="title_page">GUSTI SENZA LATTOSIO (CON SOIA)</h2>


    <div class="container">
        <div class="row">
            <div class="col">
                <app-card id="card_1" (cardClick)="open(0)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(1)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(2)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(3)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(4)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(5)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(6)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(7)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(8)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(9)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(10)"></app-card>
            </div>
            <div class="col">
                <app-card (cardClick)="open(11)"></app-card>
            </div>
        </div>
    </div>
</body>