<body>
    <div class="vuoto"></div>
    <div class="chi_siamo">
        <img class="img_chi_siamo" src="../../../assets/img/gelato-chi-siamo.jpeg" alt="">
        <div class="info_chi_siamo">
            <h3>GELATERIA E PASTICCERIA</h3>
            <br>
            <p>
                <span>Vendita al dettaglio prodotti di:
                    <ol>
                        <li>gelateria,</li>
                        <li>pasticceria</li>
                        <li>confetteria artigianale</li>
                    </ol>
                </span>
                <br>
                <br>
                Gelateria e pasticceria
                Da oltre venti anni anni la gelateria e pasticceria Candy Cream Gelaterie offre ai suoi clienti un
                gelato di
                qualità
                fatto con prodotti naturali. Dal latte alla panna e alla frutta fresca di stagione, Candy Cream è
                sinonimo
                di
                gelato
                artigianale, fatto "come una volta". L'idea è di applicare alla produzione del gelato un principio
                comune a
                tutti i
                migliori ristoranti del mondo: l'acquisto di materie prime di qualità assoluta.

                Per ogni occasione Candy Cream realizza, su richiesta, rinfreschi sia dolci che salati, con torte
                completamente
                personalizzabili in base ai vostri gusti. Candy Cream con ben tre punti vendita copre tutta la zona di
                Roma
                Nord,
                partendo da Gregorio XI (Boccea), a Via Tarsia (Ottavia) e Piazza Thouar (Monte Mario Trionfale).
            </p>
        </div>
    </div>
    <p>
        CANDY CREAM GELATERIE
        Via Gregorio XI, 17/19 | 00166 - Roma | Tel. +39066601216

        <a href="mailto:">candycreamvirgilio.it</a> | P.I. 06858621003 |
        <a href="http://">Informazioni legali</a> | <a href="http://">Privacy Policy e Cookie Policy</a>
    </p>



</body>