<img class="bg_img" src="../../../assets/img/5542825.jpg" alt="">

<div id="firstSection" class="section">
    <!-- <h2 class="title">Prima Sessione</h2> -->
    <div class="title">
        <img class="img_proprietario" src="../../../assets/img/quadro_davide.jpeg" alt="">
        <div class="testo">

            <h1>Mont Cakes Roma</h1>
            <p>
                A conduzione familiare, nella gelateria pasticceria di Monte Mario trovi ad accoglierti la famiglia
                Montesano, papà Mario, mamma Tina, e i figli Daniele e Davide. Tra accoglienza, inclusività, qualità
                dei
                prodotti e igiene, il team riesce a coniugare la tradizione pasticcera italiana con l’innovazione e
                la
                creatività.
            </p>
        </div>
    </div>
</div>


<div id="secondSection" class="section">
    <!-- <h2 class="title">Seconda Sessione</h2> -->
    <div class="title bg_title">
        <p class="fnt_size">
            Ogni mattina, i maestri pasticceri e gelatai selezionano gli ingredienti migliori: farine pregiate,
            burro fresco, uova da allevamenti locali, latte e panna di alta qualità. La mission della gelateria
            pasticceria Montecakes di Roma consiste nel creare prodotti che soddisfino il palato, raccontando al
            contempo una storia di autenticità e genuinità.
        </p>
        <p class="under_text">
            Ogni mattina, i maestri pasticceri e gelatai selezionano gli ingredienti migliori: farine pregiate,
            burro fresco, uova da allevamenti locali, latte e panna di alta qualità. La mission della gelateria
            pasticceria Montecakes di Roma consiste nel creare prodotti che soddisfino il palato, raccontando al
            contempo una storia di autenticità e genuinità.
        </p>
    </div>
</div>


<div id="thirdSection" class="section">
    <!-- <h2 class="title">Terza Sessione</h2> -->
    <div class="title">
        <img class="img_1" src="../../../assets/img/quadro_davide.jpeg" alt="">
        <img class="img_2" src="../../../assets/img/quadro_davide.jpeg" alt="">
        <img class="img_3" src="../../../assets/img/quadro_davide.jpeg" alt="">
        <img class="img_4" src="../../../assets/img/quadro_davide.jpeg" alt="">
        <img class="img_5" src="../../../assets/img/quadro_davide.jpeg" alt="">

    </div>
</div>

<div class="thank_you">
    <h1>Grazie</h1>
</div>