body {
  background-image: url("../../../assets/img/5542825.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding: 0 0 5px;
}

.background {
  max-width: 1000px;
  height: 400px;
  background: white;
  margin: 0 auto;
  opacity: 0.9;
  border-radius: 200px;
  padding: 0.2rem;
}

.chi_siamo {
  margin: 2rem 0 0;
  padding: 5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -450px;
  left: 0;
}

.img_chi_siamo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation-name: image;
  animation-duration: 4s;
}

@keyframes image {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg) rotateX(-90deg);

    /* prova da piccolo a grande rotazione circolare */
    /*     transform: rotateZ(-90deg);
      width: 0;
      height: 0; */
  }

  100% {
    transform: rotateY(calc(360deg*2)) rotateX(calc(360deg*1));

    /* prova da piccolo a grande rotazione circolare */
    /* transform: rotateZ(360deg);
      width: 250px;
      height: 250px; */
  }
}

.descrizione_chi_siamo>p>ul>li {
  display: flex;
  justify-content: center;
}

::marker {
  color: brown;
}

.descrizione_chi_siamo>h3 {
  color: brown;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.descrizione_chi_siamo>p>span>ul>li {
  color: brown;
  text-decoration: underline;
}

.descrizione_chi_siamo>p>span,
.descrizione_chi_siamo>p>ul>li {
  font-size: 20px;
  font-weight: 500;
}

.descrizione_chi_siamo>p {
  color: rgb(68, 68, 68);
}

.descrizione_chi_siamo {
  max-width: 600px;
  padding: 0 2rem;
}