<body>
    <app-header></app-header>

    <section id="chi_siamo">
        <div class="section">
            <img class="img_proprietario" src="../../../assets/img/quadro_davide.jpeg" alt="">
            <div class="testo">

                <h1>Mont Cakes Roma</h1>
                <p>
                    A conduzione familiare, nella gelateria pasticceria di Monte Mario trovi ad accoglierti la famiglia
                    Montesano, papà Mario, mamma Tina, e i figli Daniele e Davide. Tra accoglienza, inclusività, qualità dei
                    prodotti e igiene, il team riesce a coniugare la tradizione pasticcera italiana con l’innovazione e la
                    creatività.
                </p>
            </div>

        </div>


        <div class="section">
            <!-- <h2 class="title">Seconda Sessione</h2> -->
            <p class="title">
                Ogni mattina, i maestri pasticceri e gelatai selezionano gli ingredienti migliori: farine pregiate,
                burro fresco, uova da allevamenti locali, latte e panna di alta qualità. La mission della gelateria
                pasticceria Montecakes di Roma consiste nel creare prodotti che soddisfino il palato, raccontando al
                contempo una storia di autenticità e genuinità.
            </p>
        </div>


        <div class="section">
            <!-- <h2 class="title">Terza Sessione</h2> -->
            <img class="title" style="width: 20rem;" src="../../../assets/img/quadro_davide.jpeg" alt="">

        </div>

        <div class="thank_you">
            <h1>Grazie</h1>
        </div>
        <app-footer></app-footer>
    </section>




    <!--     <div class="background"></div>
    <div class="chi_siamo">
        <img class="img_chi_siamo" src="../../../assets/img/quadro_davide.jpeg" alt="">
        <div class="descrizione_chi_siamo">
            <h3>GELATERIA E PASTICCERIA</h3>
            <br>
            <p>
                <span>Vendita al dettaglio prodotti di:
                    <ul>
                        <li>gelateria</li>
                        <li>pasticceria</li>
                        <li>confetteria artigianale</li>
                    </ul>
                </span>

                Gelateria e pasticceria
                Dal latte alla panna e alla frutta fresca di stagione, Mont Cakes è
                sinonimo
                di
                gelato
                artigianale, fatto "come una volta" grazie all'utilizzo di materie prime di qualità assoluta.

                Per ogni occasione Mont Cakes realizza, su richiesta torte completamente
                personalizzabili in base ai vostri gusti. Candy Cream con ben tre punti vendita copre tutta la zona di
                Roma Nord.
            </p>
        </div>
    </div> -->

</body>