<body>

    <div class="contatti">
        <!-- primo container -->
        <div class="descrizione_contatti">

            <h2>GELATERIE A ROMA</h2>
            <h3>Produzione artigianale di gelato e di prodotti dolciari a Roma Nord</h3>


            <p>
                Candy Cream è una gelateria artigianale che soddisfa i suoi clienti con le sue
                delizie:
                gelati squisiti, prelibate torte di ogni tipo da quelle decorate con pasta di zucchero alle più
                tradizionali, ottimi yogurt, granite e pasticceria rigorosamente artigianale.
            </p>
            <p>
                Per avere ulteriori informazioni sui prodotti e sugli ingredienti utilizzati per la
                produzione potete contattare Mont Cakes Gelateria telefonando al numero della sede o
                compilando il form
                dei contatti quì in basso.

            </p>

        </div>

        <!-- secondo container -->
        <!-- Orari attività -->
        <div class="orari">
            <p>
                ORARI DI APERTURA PER TUTTE E TRE LE GELATERIE
            </p>
            <ul>
                <li> Lunedì 06:00 - 22:30 </li>
                <li> Martedì 06:00 - 22:30 </li>
                <li> Mercoledì 06:00 - 22:30 </li>
                <li> Giovedì 06:00 - 22:30 </li>
                <li> Venerdì 06:00 - 23:00 </li>
                <li> Sabato 06:00 - 23:00 </li>
                <li> Domenica 06:00 - 22:30 </li>
            </ul>
        </div>

    </div>
</body>