body {
  background-image: url("../../../assets/img/sfondo_home.jpg");
  background-size: cover;
}
.contatti {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descrizione_contatti > h2 {
  color: pink;
  font-size: 30px;
  font-weight: 600;
}
.descrizione_contatti > h3 {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.descrizione_contatti > p {
  color: grey;
}
.descrizione_contatti {
  max-width: 400px;
  padding: 0 2rem;
}

/*  */

.text-muted{
  color: rgb(167, 166, 166);
}
textarea{
  width: 300px;
  height: 100px;
}

/*  */