<body>

    <div class="contatti">
        <div class="descrizione_contatti">
            <h2>GELATERIE A ROMA</h2>
            <h3>Produzione artigianale di gelato e di prodotti dolciari a Roma Nord</h3>
            <p>
                Candy Cream è una gelateria artigianale che da oltre 20 anni soddisfa i suoi clienti con le sue delizie:
                gelati squisiti, prelibate torte di ogni tipo da quelle decorate con pasta di zucchero alle più
                tradizionali, ottimi yogurt, granite e pasticceria rigorosamente artigianale. Candy Cream è dislocato a
                Roma Nord in tre punti vendita.

            </p>
            <p>
                Via Gregorio XI, 17/19 | 00166 - Roma | Tel. +39 06 66012162 | GELATERIA, PASTICCERIA , CAFFETTERIA E
                BAR
                Piazza Pietro thouar 41,42 | 00135 - Roma | Tel. +39 06 89836299 | GELATERIA (è possibile fare ordini
                per TORTE DI
                PASTICCERIA)
                Via Tarsia, 65 | 00135 - Roma | Tel. +39 06 30813190 | GELATERIA (è possibile fare ordini per TORTE DI
                PASTICCERIA)


                Per avere ulteriori informazioni sui prodotti dolciari e sugli ingredienti utilizzati per la produzione
                di gelato
                artigianale, potete contattare Candy Cream Gelaterie telefonando ai numeri delle proprie sue sedi o
                compilando il form
                dei contatti quì in basso.

            </p>
            <p>
                ORARI DI APERTURA PER TUTTE E TRE LE GELATERIE
            </p>
            <ul>
                <li> Lunedì 06:00 - 22:30 </li>
                <li> Martedì 06:00 - 22:30 </li>
                <li> Mercoledì 06:00 - 22:30 </li>
                <li> Giovedì 06:00 - 22:30 </li>
                <li> Venerdì 06:00 - 23:00 </li>
                <li> Sabato 06:00 - 23:00 </li>
                <li> Domenica 06:00 - 22:30 </li>
            </ul>
            <h3>CONTATTI</h3>
            <p>* Campi obbligatori</p>
            <form action="" method="post">Nome</form>
            <form action="" method="post">Cognome</form>
            <form action="" method="post">Email</form>
            <form action="" method="post">Telefono</form>
            <form action="" method="post">Messaggio</form>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id=""
                    checked
                    />
                    <label class="form-check-label" for=""> Ho letto l'informativa e autorizzo il trattamento dei miei dati personali per le finalità ivi indicate. </label>
                </div>
                <button>invia</button>
            
        </div>
    </div>
    
</body>










<!-- form -->
Nome
Inserisci il tuo nome
Cognome
Inserisci il tuo cognome
*E-mail
es: email mail.com
Telefono
es: +3912345678
*Messaggio
<!-- end form -->
<!-- checkbox -->
Ho letto l'informativa e autorizzo il trattamento dei miei dati personali per le finalità ivi indicate.
<!-- button invia form -->