<body>
    <!-- sfondo animato bubble -->
    <div class="background">
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:12"></div>
        <div class="bubble" style="--i:24"></div>
        <div class="bubble" style="--i:13"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:14"></div>
        <div class="bubble" style="--i:21"></div>
        <div class="bubble" style="--i:20"></div>
        <div class="bubble" style="--i:15"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:12"></div>
        <div class="bubble" style="--i:24"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:15"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:12"></div>
        <div class="bubble" style="--i:24"></div>
        <div class="bubble" style="--i:13"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:14"></div>
        <div class="bubble" style="--i:21"></div>
        <div class="bubble" style="--i:20"></div>
        <div class="bubble" style="--i:15"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:12"></div>
        <div class="bubble" style="--i:24"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:15"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:12"></div>
        <div class="bubble" style="--i:24"></div>
        <div class="bubble" style="--i:13"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:14"></div>
        <div class="bubble" style="--i:21"></div>
        <div class="bubble" style="--i:20"></div>
        <div class="bubble" style="--i:15"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:12"></div>
        <div class="bubble" style="--i:24"></div>
        <div class="bubble" style="--i:11"></div>
        <div class="bubble" style="--i:15"></div>
    </div>
    <div class="bg_content">
    <div class="content">

        <span>Error 404!</span>

    </div>
</div>
</body>