body{
    height: 100vh;
}
.content {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, rgb(255, 0, 0), rgb(53, 0, 0));
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* implementare animazione */
}

span {
    text-align: center;
    font-size: 100px;
}