body {
    background-image: url("../../../../assets/img/5542825.jpg");
    background-size: 400%;
    height: 100%;
    padding-bottom: 2rem;
}

.link_prodotti {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 3rem 0 3rem;
}

.lattosio,
.senza_lattosio {
    width: 250px;
    text-align: center;
    text-decoration: none;
    background: url(../../../../assets/img/cornice-prodotti.webp);
    background-position: center;
    margin: 1rem 3rem 0;
    border-radius: 25px;
    animation-name: enter;
    animation-duration: 2s;

    & a {
        text-decoration: none;
        color: black;
        font-size: large;
        font-weight: 900;
    }
}

@keyframes enter {
    0% {
        transform: rotateY(-90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}



.senza_lattosio:hover {
    & a {
        color: var(--color-senza-lattosio-primary);
        text-decoration: underline;
    }

}



.lattosio:hover {
    & a {
        color: var(--color-lattosio-primary);
        text-decoration: underline;
    }
}

.lattosio {
    box-shadow: var(--color-lattosio-primary) 0px 0px 30px 15px;
}

.senza_lattosio {
    box-shadow: var(--color-senza-lattosio-primary) 0px 0px 30px 15px;
}

.img_gusti {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    padding: 2rem 1rem;
}

.container {
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.title_page {
    text-align: center;
    font-size: 50px;
    color: var(--color-lattosio-primary);
    margin: 2rem 0 1rem;
}
