
<div style="padding-top: 30rem;">



    <div class="link_prodotti">

        <div class="lattosio">
            <img class="img_gusti" src="../../../../assets/img/card-logo/logo-latte.jpg" alt="">
            <br>
            <a routerLink="i_nostri_gelati/lattosio">LATTOSIO</a>
        </div>

        <div class="senza_lattosio">
            <img class="img_gusti" src="../../../../assets/img/card-logo/logo-soia.jpg" alt="">
            <br>
            <a routerLink="senza_lattosio">SENZA LATTOSIO</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <app-card (cardClick)="open(0)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(1)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(2)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(3)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(4)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(5)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(6)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(7)"></app-card>
        </div>
        <div class="col">
            <app-card (cardClick)="open(8)"></app-card>
        </div>
    </div>
</div>

