
            <div (click)="open()" class="card_imgs">
                
                    <img class="img_big" src="../../../assets/img/le-torte-gelato.jpg" alt="">
                
                
                <!-- <div (click)="close()" class="under_img_big">
                    <img class="img_small" src="../../../assets/img/le-torte-gelato.jpg" alt="">
                </div> -->
               <!--  <h3 style="color: red;">title</h3>
                <p style="color: red;">description</p> -->
         
            </div>
            
