<!-- Title page My Projects -->
<h1 class="title_page">My Projects</h1>

<div class="container">
<!-- Button component material -->
<app-button-create-project></app-button-create-project>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      
        <!-- Id Column -->
        <ng-container matColumnDef="demo-id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="demo-title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
 
        <!-- Image Column -->
        <ng-container matColumnDef="demo-image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element">
                 <img [src]="element.image"/> 
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="demo-description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Link Column -->
        <ng-container matColumnDef="demo-link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element"> {{element.link}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="demo-action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
                <!-- {{element.action}} --> 
                <!-- Button page View -->
                <app-button-view></app-button-view>
                <!-- Button page Edit -->
                <app-button-edit></app-button-edit>
                <!-- Button Delete Project -->
                <app-button-delete></app-button-delete>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>