<!-- <img class="bg_img" src="../../../assets/img/5542825.jpg" alt="">
 -->
<div class="i_nostri_gelati">

    <!-- colonna di sinistra -->
    <div class="dscr_left">

        <div class="dscr_card">
            <!-- titolo -->
            <div class="title">
                <h2 class="back">GELATI ARTIGIANALI PER TUTTI I GUSTI</h2>
                <h2 class="front">GELATI ARTIGIANALI PER TUTTI I GUSTI</h2>
            </div>

            <!-- paragrafo info -->
            <div class="info">
                <p class="back">
                    Specializzati nella produzione gelato artigianale per tutti i palati, qui a
                    Roma, zona Monte Mario.
                    Vieni a trovarci e lasciati guidare dalla bontà, scopri cosa ti riservano i nostri gelatai.
                    Entra anche tu a far parte della nostra famiglia fatta di dolcezza, sorrisi e qualità.
                </p>
                <p class="front">
                    Specializzati nella produzione gelato artigianale per tutti i palati, qui a
                    Roma, zona Monte Mario.
                    Vieni a trovarci e lasciati guidare dalla bontà, scopri cosa ti riservano i nostri gelatai.
                    Entra anche tu a far parte della nostra famiglia fatta di dolcezza, sorrisi e qualità.
                </p>
            </div>

        </div>
    </div>

    <!-- colonna centrale -->
    <div class="img_center">
        <div class="dscr_card">
            <img class="img_i_nostri_gelati" src="../../../assets/img/DC_16-scaled.jpg" alt="">
        </div>
    </div>

    <!-- colonna di destra -->
    <div class="dscr_right">

        <div class="dscr_card">

            <!-- titolo -->
            <div class="title">
                <h2 class="back">UN MORSO, TANTI SAPORI</h2>
                <h2 class="front">UN MORSO, TANTI SAPORI</h2>
            </div>

            <!-- info paragarafo -->
            <div class="info">
                <p class="back">
                    Tutto il nostro gelato è preparato all’interno del laboratorio dalla mani sapienti di Davide e
                    Mario:
                    Un’ampia varietà di gusti, frutto di una continua ricerca e sperimentazione. Dai classici alle
                    combinazioni più audaci e originali.
                    Ogni assaggio è un viaggio sensoriale. Prenditi un momento di relax e goditi il piacere che solo il
                    nostro
                    gelato sa darti.
                </p>
                <p class="front">
                    Tutto il nostro gelato è preparato all’interno del laboratorio dalla mani sapienti di Davide e
                    Mario:
                    Un’ampia varietà di gusti, frutto di una continua ricerca e sperimentazione. Dai classici alle
                    combinazioni più audaci e originali.
                    Ogni assaggio è un viaggio sensoriale. Prenditi un momento di relax e goditi il piacere che solo il
                    nostro
                    gelato sa darti.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="link_prodotti">

    <a href="lattosio" class="lattosio">
        <img class="img_gusti" src="../../../assets/img/card-logo/logo-latte.jpg" alt="">
        <br>
        <a href="lattosio">LATTOSIO</a>
    </a>

    <a href="senza_lattosio" class="senza_lattosio">
        <img class="img_gusti" src="../../../assets/img/card-logo/logo-soia.jpg" alt="">
        <br>
        <a href="senza_lattosio">SENZA LATTOSIO</a>
    </a>
</div>
