<body>

    <div class="background"> </div>
    <div class="i_nostri_gelati">
        <img class="img_i_nostri_gelati" src="../../../assets/img/DC_16-scaled.jpg" alt="">
        <div class="descrizione_i_nostri_gelati">
            <h2>GELATI ARTIGIANALI</h2>
            <h3>Assortimento di gelati per tutti i gusti</h3>
            <p>Gelato artigianale Roma Nord
                Le gelaterie artigianali Candy Cream Gelaterie di Roma (Rm) propongono ogni giorno gusti diversi,
                ricercati secondo la stagionalità degli ingredienti, la disponibilità delle materie prime e l’estro del
                creatore gelataio. Per questo motivo qualche volta potrebbe capitare di non trovare il vostro gusto
                preferito: infatti, se gli ingredienti necessari non sono di stagione o non sono all'altezza del gelato,
                quest’ultimo non verrà prodotto, proprio per mantenere la qualità elevata, genuina e naturale a cui
                Candy Cream punta e che desidera per i suoi clienti.

                Nella nostra gelateria artigianale di Roma Nord la parola chiave è solo la qualità del gelato: per
                garantirla, è fondamentale prestare la massima attenzione durante la fase della preparazione del gelato.
                Come veri artigiani del gelato, nelle creazioni dolciarie di gelato artigianale prendiamo le distanze
                dall’impiego di metodi industriali, che utilizzano latte in polvere, panna liofilizzata, addensanti ed
                emulsionanti.
            </p>
        </div>
    </div>
    <div class="link_prodotti">

        <div class="lattosio">
            <img class="img_gusti" src="../../../assets/img/il-logo-del-vettore-per-il-latte-naturale-alami-sites.jpg"
                alt="">
            <br>
            <a href="gusti_lattosio">LATTOSIO</a>
        </div>

        <div class="senza_lattosio">
            <img class="img_gusti" src="../../../assets/img/logo-vettoriale-per-il-latte-di-soia-alami-sites.jpg"
                alt="">
            <br>
            <a href="gusti_ senza_lattosio">SENZA LATTOSIO</a>
        </div>
    </div>


</body>