/* #region i_nostri_gelati */

.i_nostri_gelati {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   background: url(../../../assets/img/5542825.jpg);
  background-size: cover;
  background-position-y: bottom; */
}

.dscr_left,
.dscr_right,
.img_center {
  /*   border: 1px solid red;
  background-color: green; */
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
}

.dscr_left {
  align-items: start;
}

.img_center {
  align-items: center;

  & .dscr_card {
    background: none;
    box-shadow: none;
    border: none;
  }
}

.dscr_right {
  align-items: end;
}

.dscr_card {
  width: 80%;
  height: 350px;
  background-color: #ffffffe6;
  border: #ffffffe6 1px solid;
  border-radius: 110px;
  margin: 4rem 0;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dscr_left>.dscr_card {
  & .title {
    margin: 8rem 0 0;

    & .front {
      position: relative;
      bottom: 48.5px;
      left: 0px;
      color: brown;
    }

    & .back {
      position: relative;
      bottom: 0;
      left: 1px;
    }
  }

  & .info {
    & .front {
      position: relative;
      bottom: 132.5px;
      left: 0px;
      color: brown;
      font-size: 18px;
    }

    & .back {
      position: relative;
      bottom: 0;
      left: 1px;
      font-size: 18px;
    
    }
  }
}

.dscr_right>.dscr_card {
  & .title {
    padding: 12rem 0 0;

    & .front {
      position: relative;
      top: 0px;
      left: 0px;
      color: brown;
    }

    & .back {
      position: relative;
      top: 48.5px;
      left: 1px;
    }
  }

  & .info {
    padding: 3rem 0;
    & .front {
      position: relative;
      bottom: 172.5px;
      left: 0px;
      color: brown;
      font-size: 18px;
    }

    & .back {
      position: relative;
      bottom: 0;
      left: 1px;
      font-size: 18px;
    }
  }
}


.img_i_nostri_gelati {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-name: image;
  animation-duration: 4s;
}

@keyframes image {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);

    /* prova da piccolo a grande rotazione circolare */
    /*     transform: rotateZ(-90deg);
    width: 0;
    height: 0; */
  }

  100% {
    transform: rotateY(calc(360deg*4));

    /* prova da piccolo a grande rotazione circolare */
    /* transform: rotateZ(360deg);
    width: 250px;
    height: 250px; */
  }
}


/* #endregion i_nostri_gelati */

/* #region prodotti */

.prodotti {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 150px;
  height: 150px;
}

.card>img {
  width: 100%;
  height: 100%;
}


/* #endregion prodotti */

/* #region card */

.link_prodotti {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 4rem;

  /*   z-index: 0;
  position: relative;
  top: -400px;
  left: 0; */
}

.lattosio,
.senza_lattosio {
  width: 250px;
  text-align: center;
  text-decoration: none;

  & a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 900;
  }
}

.lattosio:hover {
  & a {
    color: #00c5ff;
    text-decoration: underline;
  }
}

.senza_lattosio:hover {
  & a {

    color: brown;
    text-decoration: underline;
  }

}

.lattosio,
.senza_lattosio {
  background: url(../../../assets/img/cornice-prodotti.webp);
  background-position: center;
  margin: 1rem 1rem 0;
  border-radius: 25px;
  opacity: 0;
  animation-name: enter;
  animation-timeline: scroll();
  animation-duration: 4s;
}

@keyframes enter {
  0% {
    transform: rotateY(-90deg);
  }

  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.lattosio {
  box-shadow: #00c5ff 0px 0px 30px 15px;
}

.senza_lattosio {
  box-shadow: brown 0px 0px 30px 15px;
}

.img_gusti {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  padding: 2rem 1rem;
}

/* #endregion card */