<header id="header_app">
    <div class="top_menu" *ngIf="isOnline; else offLine">
        <div class="logo">
            <img src="../assets/img/cropped-logo-montecakes.jpg" alt="">
        </div>
        <nav>
            <li>
                <ul class="left"><a routerLink="chi_siamo">Chi siamo</a></ul>
                <ul class="left"><a routerLink="dove_siamo">Dove siamo</a></ul>
                <ul class="left"><a routerLink="i_nostri_gelati">I nostri gelati</a></ul>
                <ul><a routerLink="">Home</a></ul>
                <ul class="right"><a routerLink="le_torte">Le torte</a></ul>
                <ul class="right"><a routerLink="pasticceria">Pasticceria</a></ul>
                <ul class="right"><a routerLink="contatti">Contatti</a></ul>
            </li>
        </nav>

    </div>

    <ng-template class="top_menu" #offLine>
        <div class="logo">
            <img src="../assets/img/cropped-logo-montecakes.jpg" alt="">
        </div>
        <div id="pre_top_header" class="pre_top_menu2"></div>
        <div class="top_menu2">

            <nav>
                <li>
                    <ul class="left"><a routerLink="chi_siamo">Chi siamo</a></ul>
                    <ul class="left"><a routerLink="dove_siamo">Dove siamo</a></ul>
                    <ul class="left"><a routerLink="i_nostri_gelati">I nostri gelati</a></ul>
                    <ul><a href="">Home</a></ul>
                    <ul class="right"><a routerLink="le_torte">Le torte</a></ul>
                    <ul class="right"><a routerLink="pasticceria">Pasticceria</a></ul>
                    <ul class="right"><a routerLink="contatti">Contatti</a></ul>
                </li>
            </nav>

        </div>
        <div id="pre_top_header2" class="pre_top_menu2"></div>
    </ng-template>
</header>