header{
  width: 100%;  
  position: fixed;
  z-index: 1;
}

.top_menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.top_menu>.burger,
.top_menu>.logo,
.top_menu>nav,
.top_menu>nav>li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_menu>.logo>img {
  width: 100px;
}

.top_menu>nav>li {
  list-style: none;
}

.top_menu>nav>li>ul {
  padding: 0 10px;
}

/* header loggin */
.pre_top_menu2 {
  background-color: brown;
  height: 10px;
}

.top_menu2 {
  display: flex;
  justify-content: space-around;
  background: #272437;
  max-width: 100%;
}

.top_menu2>.burger,
.top_menu2>.logo,
.top_menu2>nav,
.top_menu2>nav>li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>img {
  width: 100%;
  height: 150px;
  margin: 0 0 -5px;
  object-fit: contain;
  background-color: #FFF;
}

/* region header nav */

.top_menu2>nav>li {
  list-style: none;
}

.top_menu2>nav>li>ul {
  padding: 0 10px;
}

.top_menu2>nav>li>ul>a {
  text-decoration: none;
  color: white;
}
.left {
  position: relative;
  animation-name: move-right;
  animation-duration: 4s;
}

@keyframes move-right {
  0% {
    right: 800px;
    top: 0;
  }

  100% {
    right: 0;
    top: 0;
  }
}

.right {
  position: relative;
  animation-name: move-left;
  animation-duration: 4s;
}

@keyframes move-left {
  0% {
    left: 800px;
    top: 0;
  }

  100% {
    left: 0;
    top: 0;
  }
}

/* endregion header */

/* region nav */

/* endregion nav */


/* #region footer */

footer {
  background: #272437;
  color: white;
  padding: 10px;
}
.container_footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h3, p{
    margin: 5px 0 0;
  }
}
/* #endregion footer */

/* region debug */

.debug_r {
  border: 2px dashed red;
}

.debug_b {
  border: 2px dashed blue;
}

/* end region debug*/