<header>
    <div class="top_menu" *ngIf="isOnline; else offLine">
        <div class="logo">
            <img src="../assets/img/cropped-logo-montecakes.jpg" alt="">
        </div>
        <nav>
            <li>
                <ul class="left"><a routerLink="chi_siamo">Chi siamo</a></ul>
                <ul class="left"><a href="dove_siamo">Dove siamo</a></ul>
                <ul class="left"><a href="i_nostri_gelati">I nostri gelati</a></ul>
                <ul><a routerLink="">Home</a></ul>
                <ul class="right"><a href="le_torte">Le torte</a></ul>
                <ul class="right"><a href="pasticceria">Pasticceria</a></ul>
                <ul class="right"><a href="contatti">Contatti</a></ul>
            </li>
        </nav>

    </div>

    <ng-template #offLine>
        <div class="logo">
            <img src="../assets/img/cropped-logo-montecakes.jpg" alt="">
        </div>
        <div class="pre_top_menu2"></div>
        <div class="top_menu2">

            <nav>
                <li>
                    <ul class="left"><a routerLink="chi_siamo">Chi siamo</a></ul>
                    <ul class="left"><a href="dove_siamo">Dove siamo</a></ul>
                    <ul class="left"><a href="i_nostri_gelati">I nostri gelati</a></ul>
                    <ul><a routerLink="">Home</a></ul>
                    <ul class="right"><a href="le_torte">Le torte</a></ul>
                    <ul class="right"><a href="pasticceria">Pasticceria</a></ul>
                    <ul class="right"><a href="contatti">Contatti</a></ul>
                </li>
            </nav>

        </div>
        <div class="pre_top_menu2"></div>
    </ng-template>
</header>
<div style="padding-top: 16.5rem;">
<router-outlet></router-outlet>
</div>
<footer>
    <div class="container_footer">
        <h3>MONT CAKES GELATERIA</h3>
        <p>Piazza Thour, 8 | 00135 - Roma | Tel. +39 067556478</p>
        <br>
        <p><a href="">montcakes<span>&#64;</span>live.it</a> | P.I. 29099378323</p>
        <p><a href="">informazioni legali</a> | <a href="">Privacy Policity e Cookie Policy</a> </p>
    </div>
</footer>