<body>

    <div class="vendita_prodotti">
        <img class="img_vendita" src="../../../assets/img/bancone_gelati.jpg" alt="">
        <div class="descrizione_vendita">
            <h2>GELATERIA ARTIGIANALE</h2>
            <h3>Vendita prodotti di gelateria e pasticceria</h3>
            <p>Candy Cream Gelaterie è una catena di gelaterie e di pasticcerie di Roma (Rm) che da oltre 20 anni
                soddisfa i
                suoi
                clienti con gelati squisiti, torte di ogni tipo da quelle decorate con pasta di zucchero alle più
                tradizionali,
                yogurt, granite e pasticceria artigianale.</p>
        </div>
    </div>
    <div class="link_prodotti">
        <div class="torte">
            <img class="img_torte" src="../../../assets/img/torta-gelato-artigianale.jpg" alt="">
            <br>
            <a href="le_torte">LE TORTE</a>
        </div>
        <div class="torte">
            <img class="img_torte" src="../../../assets/img/gelati-cone.jpg" alt="">
            <br>
            <a href="i_nostri_gelati">I NOSTRI GELATI</a>
        </div>
        <div class="torte">
            <img class="img_torte" src="../../../assets/img/pasticceria-gelato.jpg" alt="">
            <br>
            <a href="pasticceria">PASTICCERIA</a>
        </div>
    </div>
</body>