<!-- <img class="bg_img" src="../../../assets/img/5542825.jpg" alt="">
 -->

<div class="vendita_prodotti">
    <img class="img_vendita" src="../../../assets/img/DC_2-scaled.jpg" alt="">
    <div class="background_descr_vendite"></div>
    <div class="descrizione_vendita">

        <!-- titolo -->
        <div class="title">
            <h1 class="back"> <i class="fa-solid fa-ice-cream"></i> GELATERIA ARTIGIANALE <i
                    class="fa-solid fa-ice-cream"></i>
            </h1>
            <h1 class="front"> <i class="fa-solid fa-ice-cream"></i> GELATERIA ARTIGIANALE <i
                    class="fa-solid fa-ice-cream"></i>
            </h1>
        </div>

        <!-- sotto titolo -->
        <div class="sub_title">
            <h2 class="back">Vendita prodotti di gelateria e pasticceria</h2>
            <h2 class="front">Vendita prodotti di gelateria e pasticceria</h2>
        </div>

        <!-- paragrafo -->
        <div class="info">
            <p class="back">Candy Cream Gelaterie è una catena di gelaterie e di pasticcerie di Roma (Rm) che da oltre
                20 anni
                soddisfa i
                suoi
                clienti con gelati squisiti, torte di ogni tipo da quelle decorate con pasta di zucchero alle più
                tradizionali,
                yogurt, granite e pasticceria artigianale.
            </p>
            <p class="front">Candy Cream Gelaterie è una catena di gelaterie e di pasticcerie di Roma (Rm) che da oltre
                20 anni
                soddisfa i
                suoi
                clienti con gelati squisiti, torte di ogni tipo da quelle decorate con pasta di zucchero alle più
                tradizionali,
                yogurt, granite e pasticceria artigianale.
            </p>
        </div>

    </div>
</div>
<div class="link_prodotti">
    <a href="le_torte" class="torte">
        <img class="img_torte" src="../../../assets/img/DC_8-torte-scaled.jpg" alt="">
        <br>
        <a href="le_torte">LE TORTE</a>
    </a>



    <a href="le_torte" class="torte">
        <img class="img_torte" src="../../../assets/img/DC_5-scaled.jpg" alt="">
        <br>
        <a href="i_nostri_gelati">I NOSTRI GELATI</a>
    </a>


    <a href="le_torte" class="torte">
        <img class="img_torte" src="../../../assets/img/DC_21-scaled.jpg" alt="">
        <br>
        <a href="pasticceria">PASTICCERIA</a>
    </a>


</div>