/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --bg-card: #ffffffe6;
    --color-lattosio-primary: #00c5ff;
    --color-senza-lattosio-primary: #b0331f;

}